<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'model_viewer/style.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'model_viewer/hiwat.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'model_viewer/favicon.ico' %}" />
    <title>HIWAT Model Viewer</title>

</head>

<body>
    {% csrf_token %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HIWAT Model Viewer</a>
        <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars"
            aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul id="mymenu" class="navbar-nav  mr-auto"></ul>

        </div>
    </nav>
    <br style="clear: both;">

    <div class="container">
        <!-- Content here -->

        <p>
            <img id="imghero" src="" alt="" title="" />
        </p>
        <div class="row">
            <div class="col-3">Initialized: <span id="txtinit"></span> <input hidden type="text" id="datepicker">
            </div>
            <div class="col-9">
                <div id="forecastSlider"><br>
                    <div id="custom-handle" class="ui-slider-handle"></div>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                </div>
            </div>
        </div>
    </div>
</body>

</html>