#imghero {
    max-width: 100%;
}

.logo-image img {
    max-width: 100%;
}

.logo-image {
    vertical-align: middle;
    display: table-cell;
    padding: 0 2px;
}

.tcenter {
    text-align: center;
}

.tright {
    text-align: right;
}

.btn {
    cursor: pointer;
    border: 1px solid #3277b2;
    box-shadow: 2px 2px 5px silver;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

#custom-handle {
    width: 3.4em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    font-size: 1.0em;
    color: white;
}

.ui-slider-handle {
    background-color: #337ab7!important;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%)!important;
    background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%)!important;
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0)!important;
    background-repeat: repeat-x!important;
    filter: none!important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)!important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)!important;
    border: 0px solid transparent!important;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.switchslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.switchslider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.switchslider {
    background-color: #2196F3;
}

input:focus+.switchslider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.switchslider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

/* Rounded sliders */

.switchslider.round {
    border-radius: 34px;
}

.switchslider.round:before {
    border-radius: 50%;
}

#cover {
    background: url("https://hmv.servirglobal.net/static/model_viewer/loader.gif") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: .80;
}

#ui-datepicker-div {
    z-index: 6!important;
}

@media only screen and (max-width: 641px) {
    .ctrlText {
        font-size: .75rem;
    }
    .btn {
        padding: .275rem .55rem;
    }
}